# Database connection string (PostgreSQL)
DATABASE_URL=

# Admin Dashboard Password (defaults to teslatrack-admin-2026)
ADMIN_PASSWORD=teslatrack-admin-2026

# CARTO Maps API & Basemap Endpoint (defaults to Carto basemaps / https://gcp-us-east1.api.carto.com)
CARTO_API_BASE_URL=https://gcp-us-east1.api.carto.com/
CARTO_ACCESS_TOKEN=
